/* .App {
  text-align: center;

} */

.btn-primary {
  margin: 5px auto;
  display: block;
}

body {  
  background-image: url("./images/dubai-skyline.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  text-align: center;
  color: white;
  padding: 25px;
  height:fit-content;
  background-size: cover;
}